node_modules
.react-router

/.cache
/build
.env
public/images
public/service-worker.js
build.log
oAuthClient-log.log
tsconfig.tsbuildinfo
.DS_Store
tsconfig.tsbuildinfo
awscliv2.zip
aws/dist
install
aws/