{
    email colin99delahunty@gmail.com
}

# --- Local Development ---
localhost {
    reverse_proxy remix-app:3000
}

# --- Production Environment ---
granite-manager.com, www.granite-manager.com {
    reverse_proxy remix-app:3000
}
