@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@utility highlight {
  animation: highlight-animation 2s forwards;
}

@layer components {
  @keyframes highlight-animation {
    from {
      background-color: yellow;
    }
    to {
      background-color: transparent;
    }
  }
}
